.login-auth-container {
    width: 500px;
    height: 500px;
    margin: 7vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-auth-tabs-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    background-color: #f1f1f1;
    border-radius: 30px;
    width: 100%;
}

.login-auth-tab-button {
    padding: 10px 20px;
    text-decoration: none;
    color: #555;
    border-radius: 30px;
    width: 50%;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-align: center;
}

.login-auth-tab-button.login-active {
    background-color: #4caf50;
    color: white;
}

.login-auth-input {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
}

.login-auth-input:focus {
    outline: none;
    border-color: #4caf50;
}

.login-auth-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

.login-auth-button:hover {
    background-color: #45a049;
}

.login-auth-footer {
    margin-top: 15px;
    font-size: 16px;
    color: #888;
}

.login-auth-footer a {
    color: #4caf50;
    text-decoration: none;
    font-weight: bold;
}

.login-auth-footer a:hover {
    text-decoration: underline;
}

.login-forgot-password {
    text-align: left;
    padding-left: 5px;
    margin: 5px 0px 15px 0;
}

.login-forgot-password a {
    color: #45a049;
    text-decoration: none;
    font-weight: bold;
}

.login-forgot-password a:hover {
    text-decoration: underline;
}

.login-message {
    color: red;
    margin: 10px 0;
}

.login-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.login-auth-page-wrapper {
    padding: 20px;
}

@media screen and (max-width: 600px) {
    .login-auth-container {
        width: 90%;
        padding: 20px;
        margin: 5vh auto;
    }

    .login-auth-tabs-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .login-auth-tab-button {
        width: 50%;
        margin: 5px 0;
        padding: 12px;
    }

    .login-auth-input {
        font-size: 14px;
        padding: 10px;
    }

    .login-auth-button {
        width: 100%;
        padding: 12px;
        font-size: 15px;
    }

    .login-auth-footer,
    .login-forgot-password {
        font-size: 14px;
        text-align: center;
    }
}
