.user-profile-wrapper {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 120px;
}

.user-profile-card {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 20px;
    max-width: 700px;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    flex: 1 1 400px;
}

.user-profile-img {
    text-align: center;
    margin-bottom: 2rem;
}

.user-profile-img img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #363636;
}

.user-profile-img h2 {
    margin: 1rem 0 0.3rem;
    font-size: 1.8rem;
    color: #333;
}

.user-username {
    font-size: 1rem;
    color: #777;
}

.user-profile-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 2rem;
    font-size: 1rem;
    color: #444;
}

.user-profile-info div {
    background-color: #f0f4f8;
    padding: 0.8rem;
    border-radius: 10px;
}

..prediction-history {
    min-width: 500px;
    flex: 1 1 500px;
    margin-left: 2rem;
}

.prediction-table {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    font-size: 0.95rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

.prediction-header,
.prediction-row {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    padding: 0.8rem 1rem;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    position: relative;
}

.prediction-header {
    font-weight: bold;
    background-color: #e0e7ff;
}

.prediction-row:nth-child(even) {
    background-color: #f4f4f4;
}

.prediction-header span,
.prediction-row span {
    padding: 0 1rem;
    position: relative;
}

.prediction-header span:not(:last-child)::after,
.prediction-row span:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #ccc;
}

.prediction-header span:nth-child(2),
.prediction-row span:nth-child(2) {
    padding-right: 2rem;
}


@media (max-width: 1100px) {
    .user-profile-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .prediction-history {
        min-width: unset;
        width: 100%;
    }

    .user-profile-info {
        grid-template-columns: 1fr;
    }

    .user-profile-card {
        padding: 1.2rem;
    }

    .user-profile-img img {
        width: 110px;
        height: 110px;
    }
}
